<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="product">
  <ion-card>
    <div>
      <ion-img
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          overflow: hidden;
          width: 50%;
        "
        [src]="product.photo"
      ></ion-img>
    </div>
    <ion-card-header>
      <ion-card-subtitle> {{ product.address }} </ion-card-subtitle>
      <ion-card-title> {{ product.name }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota,
      Madison was named the capital of the Wisconsin Territory in 1836.
      <div class="ion" style="margin-bottom: 10px; margin-top: 10px">
        <div
          style="
            flex: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
          "
        >
          <div>Customer Name :</div>
          <ion-note>{{ product.custName }}</ion-note>
        </div>
        <div
          style="
            flex: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
          "
        >
          <div>Cost Price :</div>
          <ion-note> {{ product.costprice | currency:'INR' }} </ion-note>
        </div>
        <div
          style="
            flex: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
          "
        >
          <div>Selling Price :</div>
          <ion-note>{{ product.sellingPrice | currency: 'INR' }}</ion-note>
        </div>
      </div>
      <ion-item style="margin: 8px; border: none">
        <ion-icon name="person-circle" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>
            {{ product.wholesaler }}
            <span class="date">
              <ion-note>{{ product.createdAt | date }}</ion-note>
            </span>
          </h2>
          <h3>Contact: <ion-note>{{ product.contact }}</ion-note></h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


   <ion-fab
   (click)="presentToast()"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button>
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
