<ion-item
  *ngIf="product"
  [routerLink]="'/message/' + product.id"
  [detail]="false"
>
  <div slot="start" [class]="product.createdAt ? 'dot dot-unread' : 'dot'"></div>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ product.name }}
      <span class="date">
        <ion-note>{{ product.createdAt | date }}</ion-note>
        <ion-icon
          name="chevron-forward"
          size="small"
          *ngIf="isIos()"
        ></ion-icon>
      </span>
    </h2>
    <h3>{{ product.custName }}</h3>
    <p>
      {{ product.wholesaler }} - {{ product.address }}
    </p>
  </ion-label>
</ion-item>
